# Yelp and Simple CNN

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedShuffleSplit
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten, Convolution1D, Dropout
from keras.optimizers import *
from keras.utils import np_utils

/home/kcozart/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
train = pd.read_csv('Neural_Net_Not_Normalized_df.csv')
test = train

In [3]:
train = train.drop(train.columns[train.columns.str.contains('unnamed', case = False)],axis = 1)
train.head(3)

,stars,name_of_month,day_of_week,user_average_stars,user_num_reviews,user_num_friends,business_num_reviews,business_average_stars
0,1,8,2,4.67,6,1,1953,4.0
1,1,8,2,4.67,6,1,84,4.0
2,1,8,2,4.67,6,1,50,4.5

In [4]:
test = test.drop(test.columns[test.columns.str.contains('unnamed', case = False)],axis = 1)
test.head(3)

,stars,name_of_month,day_of_week,user_average_stars,user_num_reviews,user_num_friends,business_num_reviews,business_average_stars
0,1,8,2,4.67,6,1,1953,4.0
1,1,8,2,4.67,6,1,84,4.0
2,1,8,2,4.67,6,1,50,4.5

In [5]:
def encode(train, test):
    label_encoder = LabelEncoder().fit(train.stars)
    labels = label_encoder.transform(train.stars)
    classes = list(label_encoder.classes_)

    train = train.drop('stars', axis=1)

    return train, labels, test, classes

train, labels, test, classes = encode(train, test)

In [6]:
scaler = StandardScaler().fit(train.values)
scaled_train = scaler.transform(train.values)

In [7]:
sss = StratifiedShuffleSplit(test_size=0.1, random_state=23)
for train_index, valid_index in sss.split(scaled_train, labels):
    X_train, X_valid = scaled_train[train_index], scaled_train[valid_index]
    y_train, y_valid = labels[train_index], labels[valid_index]

In [8]:
nb_features = 7
nb_class = len(classes)

In [9]:
print(len(X_train))

3764878

In [10]:
X_train_r = np.zeros((len(X_train), nb_features, 3))
print(X_train_r.shape)
X_train_r[:, :, 0] = X_train[:, :nb_features]
print(X_train_r.shape)
#X_train_r[:, :, 1] = X_train[:, nb_features:22] # ERROR
#print(X_train_r.shape)
#X_train_r[:, :, 2] = X_train[:, 22:]
#print(X_train_r.shape)

(3764878, 7, 3)
(3764878, 7, 3)

In [11]:
X_valid_r = np.zeros((len(X_valid), nb_features, 3))
X_valid_r[:, :, 0] = X_valid[:, :nb_features]
#X_valid_r[:, :, 1] = X_valid[:, nb_features:128]
#X_valid_r[:, :, 2] = X_valid[:, 128:]

In [12]:
model = Sequential()
model.add(Convolution1D(nb_filter=512, filter_length=1, input_shape=(nb_features, 3)))
model.add(Activation('sigmoid'))
model.add(Dropout(0.4))
model.add(Flatten())
model.add(Dropout(0.4))
model.add(Dense(2048, activation='sigmoid'))
model.add(Dense(1024, activation='sigmoid'))
model.add(Dense(nb_class))
model.add(Activation('softmax'))

/home/kcozart/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Update your `Conv1D` call to the Keras 2 API: `Conv1D(input_shape=(7, 3), filters=512, kernel_size=1)`

In [ ]:
y_train = np_utils.to_categorical(y_train, nb_class)
y_valid = np_utils.to_categorical(y_valid, nb_class)

sgd = SGD(lr=0.01, nesterov=True, decay=1e-6, momentum=0.9)
model.compile(loss='categorical_crossentropy',optimizer='sgd',metrics=['accuracy'])

nb_epoch = 1
model.fit(X_train_r, y_train, nb_epoch=nb_epoch, validation_data=(X_valid_r, y_valid), batch_size=300)

/home/kcozart/anaconda3/lib/python3.6/site-packages/keras/models.py:981: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

Train on 3764878 samples, validate on 418320 samples
Epoch 1/1
 767100/3764878 [=====>........................] - ETA: 13:58 - loss: 0.6435 - acc: 0.6620

In [ ]:
from sklearn.metrics import classification_report

Y_test = np.argmax(y_valid, axis=1) # Convert one-hot to index
y_pred = model.predict_classes(X_valid)
print(classification_report(Y_test, y_pred))